@keyframes neon {
  0%{
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
  }
  50% {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 32px rgb(18, 188, 230),
      0 0 87px rgb(18, 188, 230),
      0 0 120px rgb(18, 188, 230);
  }
    }

.home {
    color: white;
    width: 100%;
    min-height: 100%;
    justify-content: center;
}

.form-section {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
}

.form-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-input {
    background-color: transparent;
    border:  solid 1px white;
    border-radius: 5px;
    color: white;
    margin: 0 1rem;
    width: 3rem;
    padding: 3px;
  }

  .form-select {
    background-color: transparent;
    border:  solid 1px white;
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;
  }

  .validation-button {
    margin-top: 2rem;
  }
