@keyframes neon {
  0%{
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(233, 12, 12),
      0 0 77px rgb(233, 12, 12),
      0 0 100px rgb(233, 12, 12);
  }
  50% {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 32px rgb(233, 12, 12),
      0 0 87px rgb(233, 12, 12),
      0 0 120px rgb(233, 12, 12);
  }
    }

 @font-face {
    font-family: 'terminator';
    src: local('terminator'), url('../src/assets/terminator.otf');
    }

.home {
    color: white;
    width: 100%;
    min-height: 100%;
    justify-content: center;
}

#home-title {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px rgb(233, 12, 12),
  0 0 77px rgb(233, 12, 12),
  0 0 100px rgb(233, 12, 12);
  animation: neon 2s infinite linear;
  font-family: terminator;
}

.section-title {
  font-family: terminator;
}

.form-section {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
}

.form-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

label {
  font-weight: bold;
}

.form-input {
    background-color: transparent;
    border:  solid 1px white;
    border-radius: 5px;
    color: white;
    margin: 0 1rem;
    width: 3rem;
    padding: 3px;
  }

  .form-select {
    background-color: transparent;
    border:  solid 1px white;
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;
  }
