@keyframes neon {
  0%{
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
  }
  50% {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 32px rgb(18, 188, 230),
      0 0 87px rgb(18, 188, 230),
      0 0 120px rgb(18, 188, 230);
  }
    }

    @font-face {
      font-family: 'roadtest';
      src: local('roadtest'), url('../src/assets/fonts/RoadTest.ttf');
      }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  max-width: 100vw;
  min-height: 100vh;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(43,28,28,1) 50%, rgba(75,64,64,1) 100%);
  margin: 0;
  display: flex;
  /* place-items: center; */
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px rgb(18, 188, 230),
  0 0 77px rgb(18, 188, 230),
  0 0 100px rgb(18, 188, 230);
  animation: neon 2s infinite linear;
  font-family: roadtest;
  font-size: 8rem;
}

h2 {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px rgb(18, 188, 230),
  0 0 77px rgb(18, 188, 230),
  0 0 100px rgb(18, 188, 230);
  animation: neon 2s infinite linear;
  font-family: roadtest;
  font-size: 3rem;
}

.commands-button {
  height: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  width: 8rem;
  border: none;
  outline: none;
}

.commands-button:hover {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 42px rgb(18, 188, 230),
  0 0 77px rgb(18, 188, 230),
  0 0 100px rgb(18, 188, 230);
  animation: neon 2s infinite linear;
  font-size: 1.2rem;
}

  /* Responsive */
  @media screen and (max-width: 750px) {    
    :root {
      font-size: 15px;
      line-height: 15px;
    }
    h1 {
      font-size: 5rem;
    }
    
    h2 {
      font-size: 2rem;
      line-height: 2rem;
    }

    .commands-button {
      height: 1.2rem;
      font-size: 1.2rem;
    }
  }